<div data-controller="deliveries" data-target="deliveries.productRow">
  <div class="card-product mt-3">
    <h2 class="emoji"><%= product.emoji %></h2>
    <div class="card-product-infos">
      <h2><p><%= product.name %></p></h2>
      <p><%= product.description %></p>
    </div>
    <%= render "deliveries/form", product: product %>
  </div>

  <% if forecast %>
    <div class="forecast">
      <p class="mt-4 mb-4" >For your <strong><%= (forecast.delivery.batch_product.deliveries.count + 1).ordinalize %></strong> order you need <strong><%= forecast.qty %></strong> <%= forecast.emoji %> before <strong><%= forecast.date.strftime("%d/%m/%Y") %></strong> 🙌</p>
    </div>
  <% end %>
</div>
